
<app-navbar></app-navbar>
<div>
  <img src="assets/img/secretaire.jpg" style="    width: 1350px;height: 390px;">
</div>


<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

<!-- Page Header -->

<!-- /Page Header -->
<hr>
<div class="row" style="    width: 821px;margin-left: 278px;">
<div class="col-lg-12">
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Ajouter Un Secretaire</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="form"   >
      <div class="form-group row">
        <label class="col-form-label col-md-2">Nom et Prénom</label>
        <div class="col-md-10">
          <input type="text" class="form-control" formControlName="nomprenom">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2">Date De Naissance</label>
        <div class="col-md-10">
          <input type="date" class="form-control" formControlName="datenaissance">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2">Sexe</label>
        <div class="col-md-10">
          <select name="mmm"class="form-control" formControlName="sexe" >
            <option value="">-- Select --</option>
            <option>Femme</option>
            <option>Homme</option>
          </select>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-form-label col-md-2">Numéro de Télephone</label>
        <div class="col-md-10">
          <input type="number" class="form-control" formControlName="numtel">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2">Etat Sociale</label>
        <div class="col-md-10">
          <select name="mmm"class="form-control" formControlName="etatsociale" >
            <option value="">-- Select --</option>
            <option>Célibataire</option>
            <option>Mariée</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2">Adresse</label>
        <div class="col-md-10">
          <input type="text" class="form-control" formControlName="adresse" >
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Email</label>
        <div class="col-lg-10">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="sizing-addon2">@</span>
            </div>
            <input type="text" class="form-control" formControlName="email" placeholder="Entrez Votre email" aria-describedby="sizing-addon2">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2">Password</label>
        <div class="col-md-10">
          <input type="password" class="form-control"  formControlName="password">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2">Images</label>
        <div class="col-md-10">
          <input class="form-control"  type="file" formControlName="photo" >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2">Niveau d'etudes</label>
        <div class="col-md-10">
          <input type="text" class="form-control"  formControlName="niveauetudes">
        </div>
      </div>


      <div class="form-group mb-0" style="margin-left: 300px;">
        <button class="btn btn-primary" style="    width: 279px;    margin-left: -182px;" type="submit">Register</button>
        <button class="btn btn-danger"  style="    width: 279px;    margin-left: 13px;" type="reset">anunler</button>
      </div>


    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
<app-footer></app-footer>
